@media screen and (min-width: 1100px) {
  /* .wy-nav-side,
  .wy-grid-for-nav {
      margin-left: calc(((100vw - 1100px) / 2));
  }

  .wy-body-for-nav {
      background: rgba(0, 0, 0, 0.05);
  } */

  .wy-nav-content-wrap{
    display:flex;
    justify-content: space-between;
    
  }

  .wy-nav-content-wrap::before{
    content: "";
    z-index: -1;
  }
  .wy-nav-content-wrap::after{
    content: "";
    z-index: -1;
    flex: 0 5 300px;
  }

  .wy-nav-content{
    max-width: 894px;
    /* flex: 0 1 894px; */
    box-shadow: 1px 2px 5px 0px #777;
  }
}

h1 {
  color: #111;
}
h2, h3, h4, h5, h6 {
  color: #333;
}